.invoice-container {
    padding: 4px 7px;
}

.invoice-title {
    margin-bottom: 10px;
}

.title{
    display: inline;
}

.span-title{
    margin-left: 8px;
}

.grid-invoice {
    width: 100%;
    height: 185px;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "title title title"
                         "details bill balance";
}

.grid-invoice-title {
    grid-area: title;
    font-weight: bold;
    font-size: 1em;
    line-height:45px;
    padding-left: 15px;
    background-color: white;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    border-radius: 2px;
}

.grid-invoice-details{
    grid-area: details;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    border-radius: 2px;
}

.grid-invoice-bill{
    grid-area: bill;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    background-color: white;
    border-radius: 2px;
}

.grid-invoice-balance {
    grid-area: balance;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    background-color: white;
    border-radius: 2px;
}

@media only screen and (max-width: 480px) {
    .grid-invoice {
        width: 100%;
        height: 185px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "title"
                             "details"
                             " bill "
                             "balance";
    }

    .grid-invoice-title {
        margin-left: 1%;
        width: 99%;
        grid-area: title;
        font-weight: bold;
        background-color: white;
        border-left: 2px solid #eeeeee;
        border-right: 2px solid #eeeeee;
        border-top: 2px solid #eeeeee;
        border-radius: 2px;
    }

    .grid-invoice-details {
        margin-left: 1%;
        width: 99%;
        grid-area: details;
        background-color: white;
        border-top: 1px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        border-left: 2px solid #eeeeee;
        border-radius: 2px;
    }

    .grid-invoice-bill {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 1%;
        width: 99%;
        grid-area: bill;
        border: 1px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        background-color: white;
        border-radius: 2px;
    }

    .grid-invoice-balance {
        margin-left: 1%;
        width: 99%;
        grid-area: balance;
        border-top: 1px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        border-right: 2px solid #eeeeee;
        background-color: white;
        border-radius: 2px;
    }
}
