.container-invoice-balance {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    padding-top: 10px;
    font-weight: bold;
}
.balance-title {
    display: inline-block;
}
.balance-amount {
    display: inline-block;
    font-size: 1.1em;
    color: #ff9900;
}

@media only screen and (max-width: 1350px) {
    .balance-amount {
        margin-left: 5%;
    }
}