.overview-container {
    padding: 4px 7px;
}
.grid-overview {
    width: 100%;
    height: 190px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 45px 1fr;
    grid-template-areas: "title title"
                          "details1 details2";
}
.grid-overview-title {
    grid-area: title;
    font-weight: bold;
    font-size: 1em;
    line-height: 45px;
    padding-left: 15px;
    background-color: white;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
    border-radius: 2px;
}

.grid-overview-details1 {
    grid-area: details1;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    border-left: 2px solid #eeeeee;
    border-radius: 2px;
}

.grid-overview-details2 {
    grid-area: details2;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    border-radius: 2px;
}
