.dashboard-container{
    width: 100%;
    height: 100vh;
    background-color: #f8fbff;
    border: 1px solid #eeeeee;
}
.grid-container {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 25% 35%;
    grid-template-areas: "invoice""diagram""overview";
}

.invoice {
    margin: 5px 5%;
    grid-area: invoice;
    background-color: red;
}

.diagram {
    margin: 5px 5%;
    grid-area: diagram;
    background-color: yellowgreen;
}

.overview {
    margin: 5px 5%;
    grid-area: overview;
    /* background-color: yellow; */
}